*.Tpo
*.o
*.d
*.Po
*.Plo
*.lo
*.la
*.lai
*.so
*.dirstamp
*.so.*
.bzr
.libs
.deps

./Titania/titania
./experimental/experimental
./test/test
./titania-info/titania-info
./x3dtidy/x3dtidy
./debian/titania
./experimental/titania-experimental
./test/titania-test

./Documentation/Titania/html

./build/snapcraft/parts
./build/snapcraft/prime
./build/snapcraft/stage
./build/snapcraft/titania_*.snap

