#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=Puck Test
Comment=Puck Test
Type=Application
Terminal=false
StartupNotify=false
Icon=/home/holger/Projekte/Titania/Puck/share/titania/puck/ui/icons/icon.svg
Categories=Graphics;GNOME;GTK;
MimeType=model/vrml;model/x3d+vrml;
Exec=/home/holger/Projekte/Titania/Puck/test-puck.sh %U

GenericName=Puck X3D Browser

