#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=Titania Test
Comment=Titania Test
Type=Application
Terminal=false
StartupNotify=false
Icon=/home/holger/Projekte/Titania/Titania/share/titania/puck/ui/icons/icon.svg
Categories=Graphics;GNOME;GTK;
MimeType=model/vrml;model/x3d+vrml;
Exec=/home/holger/Projekte/Titania/Titania/test-puck.sh %U

GenericName=Titania X3D Browser

