[Desktop Entry]
Version=1.0
Name=Titania
Name[de_DE]=Titania X3D Browser
Comment=View and navigate in X3D and VRML2 worlds
Type=Application
Exec=titania %U
Terminal=false
StartupNotify=true
Icon=titania
Categories=Graphics;GNOME;GTK;
MimeType=x-world/x-vrml;model/vrml;model/x3d+vrml;model/x3d+xml;
GenericName=Titania X3D Browser

[Desktop Action Window]
Name=Open a New Window
Exec=titania "about:blank"
OnlyShowIn=Unity;

[Desktop Action Document]
Name=Open a New Document
Exec=titania "about:blank"
OnlyShowIn=Unity;
