[Desktop Entry]
Version=1.0
Name=Titania
Name[de_DE]=Titania X3D Browser
Comment=View and navigate in X3D and VRML2 worlds
Type=Application
Exec=titania %U
Terminal=false
StartupNotify=false
Icon=titania
Categories=Graphics;GNOME;GTK;
MimeType=model/vrml;model/x3d+vrml;x-world/x-vrml;model/x3d+xml;

GenericName=Titania X3D Browser
