Source: titania
Section: gnome
Priority: extra
Maintainer: Holger Seelig <holger.seelig@yahoo.de>
Build-Depends: debhelper (>= 5),
               libgtkmm-3.0-dev, 
               libgconfmm-2.6-dev, 
               libfontconfig1-dev, 
               libftgl-dev, 
               libglu1-mesa-dev, 
               libglew-dev, 
               libgl1-mesa-dev, 
               libmozjs185-dev, 
               libpcre++-dev, 
               libmagick++-dev, 
               libcurl4-gnutls-dev, 
               libsqlite3-dev, 
               zlib1g,
               intltool,
               gettext

Homepage: https://titania.create3000.de/
Package: titania
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         debhelper (>= 5), 
         libgtkmm-3.0-1, 
         libgconfmm-2.6-1c2, 
         libfontconfig1, 
         libftgl2, 
         libglu1-mesa, 
         libglew1.8, 
         libgl1-mesa-glx, 
         libmozjs185-1.0, 
         libpcrecpp0, 
         libmagick++5, 
         libcurl4-gnutls-dev, 
         libsqlite3-0, 
         zlib1g
Conflicts:
Replaces:
Provides: titania
Description: Titania X3D Viewer
 Titania is a X3D/VRML viewer for GNOME which uses the gtkmm library. The goal 
 is a full standard X3D viewer for future releases of Gnome. It aims to implement
 the VRML standard for version 1.0.
 .
 It can be used as a simple 3D viewer for .wrl files, a high quality 3D animation
 rendering engine, for advanced science simulations, live data visualisation, or 
 as easy to use gaming engine.
 .
 Furthermore this package includes x3dtidy, an easy to use X3D/VRML beautifier.
