Source: titania
Section: gnome
Priority: extra
Maintainer: Holger Seelig <holger.seelig@yahoo.de>
Build-Depends: debhelper (>= 5),
               libgtkmm-3.0-dev, 
               libgconfmm-2.6-dev, 
               libglu1-mesa-dev, 
               libglew-dev, 
               libgl1-mesa-dev,
               opencl-headers,
               libmozjs185-dev, 
               libfontconfig1-dev, 
               libftgl-dev, 
               libpcre++-dev, 
               libmagick++-dev, 
               libcurl4-openssl-dev, 
               libsqlite3-dev,
               libgstreamermm-0.10-dev,
               zlib1g,
               intltool,
               gettext,
               libtool,
               firefox-dev,
               libgtop2-dev

Homepage: https://titania.create3000.de/
Package: titania
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         debhelper (>= 5), 
         libgtkmm-3.0-1, 
         libgconfmm-2.6-1c2, 
         libglu1-mesa, 
         libglew1.8, 
         libgl1-mesa-glx, 
         libmozjs185-1.0, 
         libfontconfig1, 
         libftgl2, 
         libpcrecpp0, 
         libmagick++5, 
         libcurl3, 
         libsqlite3-0, 
         libgstreamermm-0.10-2,
         zlib1g,
         libgtop2-common,
         gettext,
         perl,
         libxml-libxml-perl,
         libglib-perl
Conflicts:
Replaces:
Provides: titania
Description: Titania X3D Viewer
 Titania is a X3D/VRML browser for Ubuntu. The goal is a full standard X3D browser for future
 releases of Gnome. For now, Titania implements to 99% the VRML standard and the X3D/VRML
 JavaScript standard.
 .
 It can be used as a simple 3D viewer for .wrl files, as high quality 3D animation rendering engine, 
 for advanced science simulations, live data visualization, or as easy to use gaming engine.
 .
 Furthermore this package includes x3dtidy, an easy to use X3D/VRML beautifier.
