Source: titania
Section: graphics
Priority: optional
Maintainer: Holger Seelig <holger.seelig@yahoo.de>
Build-Depends: debhelper (>= 7)

Package: titania
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts:
Replaces:
Provides: titania
Homepage: http://titania.create3000.de/
Vcs-Git: https://holger.seelig@code.google.com/p/titania-x3d/
Description: Titania X3D Browser
 View and navigate in X3D and VRML2 worlds
