/*
 * Titania Styles CSS
 */

/* Colors */

.titania-red {
	color: #e06c75;
}

.titania-green {
	color: #98c379;
}

.titania-blue {
	color: #61afef;
}

/* Splash Screen */

.titania-splash-screen {
	background-image: url("logo.svg");
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

/* Console */

.titania-console {
	font-family: monospace;
}

/* Dialogs */

.titania-small {
	font-size: 80%;
	font-weight: bold;
}

.titania-small-menu {
	font-size: 90%;
	font-weight: bold;
}

.titania-tab-button {
	margin: 0px;
	border: 0px;
	padding: 0px;
	background: transparent;
}

.titania-menu-item-selected {
	font-weight: bold;
	font-style: italic;
}

expander > title > label {
	margin: 8px 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	font-size: 114%;
}

expander.titania-expander-first-child > title > label {
	padding-top: 0px;
}

/* Page */

.titania-widget-box {
	border: 1px solid transparent;
}

.titania-widget-box-selected {
	border-color: red;
}

.titania-surface {
}

/* Outline Editor */

#SceneMenuButton {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#PreviousSceneButton {
	margin: 0px;
	border: 0px;
	padding: 0px 2px 0px 4px;
}

#NextSceneButton {
	margin: 0px;
	border: 0px;
	padding: 0px 4px 0px 2px;
}

#OutlineTreeViewEditor {
	-GtkTreeView-horizontal-separator: 0;
}

#OutlineTreeViewEditor column-header .button {
	border-left-width: 0px;
	border-right-width: 0px;
}

#OutlineTreeViewEditor .titania-textview-editable,
#OutlineTreeViewEditor .titania-textview-editable *:not(menuitem)
{
	margin: 0px;
	padding: 0px;
	border-radius: 0px;
	min-height: 1px;
}

/* Route Graph */

/* All classes
.titania-route-graph-page-name
.titania-route-graph-node
.titania-route-graph-node-box
.titania-route-graph-node-element-box
.titania-route-graph-node-element-left
.titania-route-graph-node-element-right
.titania-route-graph-node-header
.titania-route-graph-node-image
.titania-route-graph-node-type-name
.titania-route-graph-node-name
.titania-route-graph-field
.titania-route-graph-field-image
.titania-route-graph-field-name
.titania-route-graph-connector
.titania-route-graph-node-footer
*/

.titania-route-graph-page-name,
.titania-route-graph-node,
.titania-route-graph-node * {
	margin: 0px;
	outline: none;
	border: 0px;
	padding: 0px;
	background: none;
	border-radius: 0px;
	box-shadow: none;
}

.titania-route-graph-page-name {
	padding: 10px 0px 0px 20px;
	color: white;
	font-size: 225%;
}

.titania-route-graph-node-element-left,
.titania-route-graph-node-element-right {
	min-width:  7px;
	min-height: 7px;
}

.titania-route-graph-node-header {
	border-bottom: 2px solid black;
	background: rgb(68,52,125);
	padding: 5px 4px 5px 4px;
}

.titania-route-graph-node-selected .titania-route-graph-node-header {
	background: rgb(83,53,32);
}

.titania-route-graph-node-image-box {
	padding: 0px 10px 0px 5px;
}

.titania-route-graph-node-name {
	padding: 0px 10px 0px 0px;
	color: white;
	font-size: 150%;
}

.titania-route-graph-node-type-name {
	padding: 0px 10px 0px 0px;
	color: white;
	font-size: 100%;
}

.titania-route-graph-field {
	border-bottom: 2px solid black;
	padding: 3px 25px 3px 9px;
	background: rgb(51,74,93);
}

.titania-route-graph-node-selected .titania-route-graph-field {
	background: rgb(106,73,55);
}

.titania-route-graph-field-image {
	padding: 0px 5px 0px 0px;
}

.titania-route-graph-field-name {
	color: white;
}

.titania-route-graph-connector {
	min-height: 14px;
	min-width:  14px;
	border-radius: 7px;
}

.titania-route-graph-input {
	background: rgb(40,31,73);
}

.titania-route-graph-input:hover {
	background: rgb(118,99,189);
}

.titania-route-graph-output {
	background: rgb(84,31,62);
}

.titania-route-graph-output:hover {
	background: rgb(196,95,154);
}

.titania-route-graph-node-footer {
	background: rgb(74,100,133);
	min-height: 6px;
}

.titania-route-graph-node-selected .titania-route-graph-node-footer {
	background: rgb(85,43,23);
}

.titania-route-graph-node-footer-left,
.titania-route-graph-node-footer-right {
	min-height: 6px;
}
