/*
 * Titania Styles CSS
 */
 
/*
#OutlineTreeViewEditor .textview-editable {
	background-color: mix (bg[SELECTED], bg[NORMAL], 0.9);
}

#OutlineTreeViewEditor .textview-editable:selected {
	color: @selected_fg_color;
	background-color: @selected_bg_color;
}
*/

#Console {
	font-family: monospace;
}
