/*
 * Titania Styles CSS
 */

/*

* {
	-GtkTreeView-expander-size: 5;
}

*/

#Console GtkTextView,
#ScriptEditor GtkTextView {
	font: monospace;
}

/* Dialogs */

.titania-header {
	font-size: 144%;
	font-weight: bold;
}

.titania-small {
	font-size: 80%;
	font-weight: bold;
}

.titania-small-menu {
	font-size: 90%;
	font-weight: bold;
}

.titania-tab-close {
	margin: 0px;
	border: 0px;
	padding: 0px;
	background: transparent;
}

.titania-menu-item-selected {
	font-weight: bold;
	font-style: italic;
}

GtkExpander {
	padding-top: 4px;
	padding-bottom: 2px;
}

GtkExpander > GtkLabel {
	font-weight: bold;
	font-size: 114%;
}

/* Surface */

.titania-surface {
}

/* Outline Editor */

#SceneMenuButton {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#PreviousSceneButton {
	margin: 0px;
	border: 0px;
	padding: 0px 2px 0px 4px;
}

#NextSceneButton {
	margin: 0px;
	border: 0px;
	padding: 0px 4px 0px 2px;
}

#OutlineTreeViewEditor {
	-GtkWidget-focus-line-width: 0;
	-GtkWidget-focus-padding: 0;
	-GtkTreeView-horizontal-separator: 0;
}

#OutlineTreeViewEditor column-header .button {
	border-left-width: 0px;
	border-right-width: 0px;
}

#OutlineTreeViewEditor .titania-textview-editable,
#OutlineTreeViewEditor .titania-textview-editable GtkTextView,
#OutlineTreeViewEditor .cell
{
	margin: 0px;
	padding: 0px;
	border-radius: 0;
}

/*
GtkNotebook GtkGrid {
	padding: 4px;
}
*/

/*

GtkComboBox
{
	padding: 0px;
}

GtkComboBox .button,
GtkComboBox .combobox-entry .button
{
	padding: 1px;
	-GtkComboBox-arrow-size: 0;
}

.spinbutton
{
	padding: 2px;
}

.spinbutton .button
{
	padding: 0px 0px 0px 2px;
}

.spinbutton .button .arrow:nth-child(first)
{
}

.spinbutton .button .arrow:nth-child(last)
{
}

*/
