/*
 * Titania Styles CSS
 */

.titania-console {
	font-family: monospace;
}

/* Dialogs */

.titania-small {
	font-size: 80%;
	font-weight: bold;
}

.titania-small-menu {
	font-size: 90%;
	font-weight: bold;
}

.titania-tab-close {
	margin: 0px;
	border: 0px;
	padding: 0px;
	background: transparent;
}

.titania-menu-item-selected {
	font-weight: bold;
	font-style: italic;
}

expander > title > label {
	margin: 8px 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	font-size: 114%;
}

/* Surface */

.titania-widget-box {
	border: 1px solid transparent;
}

.titania-widget-box-selected {
	border-color: red;
}

.titania-surface {
}

/* Outline Editor */

#SceneMenuButton {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#PreviousSceneButton {
	margin: 0px;
	border: 0px;
	padding: 0px 2px 0px 4px;
}

#NextSceneButton {
	margin: 0px;
	border: 0px;
	padding: 0px 4px 0px 2px;
}

#OutlineTreeViewEditor {
	-GtkTreeView-horizontal-separator: 0;
}

#OutlineTreeViewEditor column-header .button {
	border-left-width: 0px;
	border-right-width: 0px;
}

#OutlineTreeViewEditor .titania-textview-editable,
#OutlineTreeViewEditor .titania-textview-editable *
{
	margin: 0px;
	padding: 0px;
	border-radius: 0px;
	min-height: 1px;
}
